*{
	margin:0;
	padding: 0;
}
body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url(../../photo/1.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}
#top{
	margin: 0;
	padding: 10px;
	background-image: url(../../photo/topx.png);
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 5;
}
#top div{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
#logo{
	margin:0;
	padding: 0;
	width: 140px;
	height: 70px;
	background-image: url(../../photo/logo.png);
	background-size: 140px 70px; 
	display: inline-block;
}
#top-1{
	margin-top:10px;
}
#top1{
	margin:0;
	padding:0;
	width: 0;
	height:30px;
	overflow: hidden;
	transition: width,0.3s;
}
.line,.map2{
	display: inline-block;
	margin:0 10px 0 10px;
	vertical-align: middle;
	height: 30px;
	width: 56px;
	font-size: 25px;
}
.line{
	height:24px;
	width:0px;
	border:solid  #b7a16a 1.5px;
	margin-right: 8px;
}
.map2 > span{
	color: #b7a16a;
	cursor: pointer;
	text-align: center;
	padding-bottom: 20px;
}
.map2 > span:hover{
	color:#daa520;
	
}
#map3-1,#map3-2{
	text-align:center;
	margin-left: -25px;
	margin-top: 20px;
	overflow: hidden;
	width: 100px;
	height: 0;
	list-style: none;
    background-color: #282823;
    line-height: 3em;
	color: #b7a16a;
	font-size: 16px;
	transition: height,0.3s;
}
#map3-1 li:hover{
	color: #daa520;
	border-left: solid 3px #daa520;
}
#map3-2 li:hover{
	color: #daa520;
	border-left: solid 3px #daa520;
}
#top2,#top3,#top4{
	float: right;
}
.button{
	display: inline-block;
	width: 79px;
	height: 80px;
	background-size:70px 70px;
	background-repeat: no-repeat;
	margin:10px 0 0 20px;
}
.topfont a{
	text-decoration: none;
	color: #b7a16a;
}
.topfont{
	color: #b7a16a;
	margin:0 8px 0 0;
	font-size: 16px;
}
.topfont:hover{
	color:#daa520;
}
#top-1{
	background-image: url(../../photo/top1.png);
	transition: background-image,0.3s;
}
#top-1:hover{
	background-image: url(../../photo/top1-2.png);
}
#top-2{
	background-image: url(../../photo/top2.png);
	transition: background-image,0.3s;	
}
#top-2:hover{
	background-image: url(../../photo/top2-2.png);
}
#top-3{
	background-image: url(../../photo/top3.png);
	transition: background-image,0.3s;
}
#top-3:hover{
	background-image: url(../../photo/top3-2.png);
}
#top-4{
	background-image: url(../../photo/top4.png);
	transition: background-image,0.3s;
}
#top-4:hover{
	background-image: url(../../photo/top4-2.png);
}
#sign{
	background-image: url(../../photo/sign背景.png);
	width: 400px;
    height: 0;
    position: fixed;
    right: 0;
    z-index: 2;
    top: 100px;
    overflow: hidden;
	transition: height 0.2s;
}
#sign img{
	width: 100px;
    margin-left: 68px;
    margin-bottom: 15px;
    padding: 10px;
}
#signmessage{
	margin:0;
	padding:0;
	display: inline-block;
	width: 190px;
	height: 180px;
}
#signmessage p{
	font-size: 15px;
	color:#b7a16a;
}
#signmessage input{
	height: 20px;
}
#signmessage button{
	text-align: center;
	width: 70px;
	height: 30px;
	margin-left: 50px;
	border:solid black 1px;
	background-color: #b7a16a;
}
#center{
    margin: 11% 0 20px -10%;
	height: auto;
	width: auto;
	text-align: center;
	vertical-align: middle;
}
#box{
	margin-top: 50px;
	display: inline-block;
	position: relative;
    width: 566px;
}
#font{
	display: inline-block;
	width:566px;
	height: 360px;
	background-image: url(../../photo/font.png);
	background-repeat: no-repeat;
	text-align: center;
}
#butterfly{
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../../photo/蝴蝶.png);
	width: 450px;
    height: 450px;
    background-size: 450px 450px;
    top: -20%;
    right: -50%;
}
#font-1{
	padding: 0;
	width: 566px;
	color: white;
	font-size: 60px;
	line-height: 2em;
	text-align: left;
	margin-top: 50px;
}
#font-2{
	margin:0;
	padding: 0;
	width: 566px;
	color: white;
	font-size: 40px;
	text-align: left;
	margin-top: 20px;
}
#right,#left{
	position: fixed;
	top: 42%;
}
#right img,#left img{
	width: 50px;
	height:80px;
}
#right{
	right: 0;
}
#book{
	background-image: url(../../photo/注册下标.png);
	height: 200px;
	width: 300px;
	background-size: 300px 200px;
	position: fixed;
    bottom: 0%;
    right: 0%;
}
#book span{
	font-size: 35px;
	color: #b7a16a;
	cursor: pointer;
	vertical-align: bottom;
    position: absolute;
    right: 4%;
    bottom: 11%
}
#book span:hover{
	color: #daa520;
}
